
.frequency-title {
  background: rgb(209, 179, 6);
  color: steelblue;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 100;
  margin: 20px auto;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(48, 47, 47);
}

.frequency-svg-flex {
  display: flex;
  justify-content: center;
}

.bar {
  fill: steelblue;
}
.bar:hover {
  fill: rgb(156, 45, 5);
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

