.area-wrapper {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.svg-area {
  border: 1px solid black;
}
.area1-path {
  fill: rgba(255, 68, 0, 0.3);
}
.area1-path-2 {
  fill: rgba(0, 0, 255, 0.3);
}
.area1-circle-1 {
  fill: orangered;
}
.area1-circle-2 {
  fill: blue;
}

.area1-pre {
  background: rgb(218, 216, 216);
  font-size: 1.4rem;
  width: 960px;
}