.area-wrapper {
  
}

.area-chart-wrapper {
  border: 3px solid teal;
  border-radius: 1rem ;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  display: flex;
  margin: 4rem auto;
  width: 95vw;
}

.area-chart {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

/* =================
    Controller
================== */

.area-controller {
  background: white;
  border-bottom: 3px solid teal;
  border-radius: 1rem 0 0 0;
  width: 100%;
}
.area-controller-dark {
  background: #202020;
  border-bottom: 3px solid teal;
  border-radius: 1rem 0 0 0;
  width: 100%;
}

.area-controller span {
  color: #202020;
  display: inline-block;
  font-size: 2rem;
  padding: 0.5rem 0 0 0.5rem;
}
.area-controller-dark span {
  color: white;
  display: inline-block;
  font-size: 2rem;
  padding: 0.5rem;
}

.area-button-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.area-select {
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  color: #202020;
  font-size: 1.2rem;
}
.area-select option {
  color: #202020;
  font-size: 1rem;
}
.line-random-button,
.area-darkMode,
.area-fill {
  border-radius: 1rem;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  color: #202020;
  font-size: 1.2rem;
  padding: 0.3rem 0.5rem;
}

/* =================
        SVG
================== */

.svg-area-chart {
  background: white;
  border-radius: 0 0 0 1rem;
  display: block;
}
.svg-area-chart-dark {
  background: #202020;
  border-radius: 0 0 0 1rem;
  display: block;
  
}

.line-path-curve {
  fill: none;
  stroke: #ffab00;
  stroke-width: 5;
}
.line-path-curve-dark {
  fill: none;
  stroke: greenyellow;
  stroke-width: 5;
}

.line-path-fill {
  fill: rgba(128, 128, 128, 0.5);
}

.line-axis text {
  fill: #202020;
  font-size: 1.5vw;
}
.line-axis-dark text {
  fill: white;
  font-size: 1.5vw;
}

.line-axis path,
.line-axis line {
  stroke: #202020;
  stroke-width: 3;
}
.line-axis-dark path,
.line-axis-dark line {
  stroke: white;
  stroke-width: 3;
}

.line-data-points {
  fill: maroon;
}
.line-data-points-dark {
  fill: orangered;
  stroke: black;
}

.svg-area {
  border: 1px solid black;
}
.area1-path {
  fill: rgba(255, 68, 0, 0.3);
}
.area1-path-2 {
  fill: rgba(0, 0, 255, 0.3);
}
.area1-circle-1 {
  fill: orangered;
}
.area1-circle-2 {
  fill: blue;
}


/* =================
Cities (Right Panel)
================== */
.area-cities-wrapper {
  background: white;
  border-left: 3px solid teal;
  border-radius: 0 1rem 1rem 0;
  width: 20%;
}
.area-cities-wrapper-dark {
  background: #202020;
  border-left: 3px solid teal;
  border-radius: 0 1rem 1rem 0;
  width: 20%;
}
