
.line-chart-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.svg-line-chart {
  border: 1px solid gray;
}

/* Style the lines by removing the fill and applying a stroke */
.line {
  fill: blue;
  stroke: #ffab00;
  stroke-width: 3;
}

/* .overlay {
fill: none;
pointer-events: all;
} */

/* Style the dots by assigning a fill and stroke */
.dot {
  fill: maroon;
  stroke: #fff;
}

.focus circle {
fill: none;
stroke: steelblue;
}