
.code-examples-wrapper {
  display: flex;
  flex-direction: column;
  margin: 4vw auto;
  width: 90%;
}

.code-tabs-wrapper {
  background: var(--grayDark);
  padding: 1vw 0;
}

.code-tab {
  background: var(--gray5);
  color: var(--gray1);
  cursor: pointer;
  font-size: 3vw;
  margin: 0 1vw;
  padding: 1vw;
}
.code-tab-active {
  background: var(--gray6);
  color: gold;
  cursor: pointer;
  font-size: 3vw;
  margin: 0 1vw;
  padding: 1vw;
}

#code-pre {
  font-size: 2vw;
  margin: 0;
}