
.pie-wrapper {
  width: 100vw;
}

/* Summary */
.pie-summary-wrapper {
  background: cornsilk;
  border-radius: 0.5vw;
  margin: 0 auto 2vw;
  padding: 1vw;
  width: 80vw;
}
.pie-summary-title {
  background-image: linear-gradient(45deg, #FDDB75, transparent);
  color: #333;
  font-size: 3.5vw;
  margin-left: -2vw;
  padding-left: 2vw;
  width: 60%;
}
.pie-summary-p {
  color: #333;
  font-size: 2vw;
  margin: .5vw auto;
}

/* Buttons */
.pie-button-group {
  align-items: center;
  border-radius: 0.5vw;
  display: flex;
  justify-content: space-evenly;
  margin: 2vw auto;
  padding: 1vw 0;
  width: 80%;
}
.pie-button {
  background: lightgray;
  border-radius: 0.5vw;
  color: #333;
  font-size: 2vw;
}
.pie-button-active {
  background: gold;
  border-radius: 0.5vw;
  color: #333;
  font-size: 2vw;
}

/* Pie Chart & Info */
.pie-build-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.pie-chart-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}
.pie-chart-info {
  background: lemonchiffon;
  width: 50vw;
}

/* Pie Code Example */
.pie-code-wrapper {
  background: lightslategray;
  border: none;
  border-radius: 5px;
  margin: 2vw auto;
  width: 95vw;
}
.pie-code-title {
  color: #333;
  font-size: 3vw;
  margin: 2vw auto;
  text-align: center;
}
.pie-code {
  margin: 1vw auto !important;
  width: 90vw;
}