
/* ===================
       Ford
==================== */
.ford-wrapper {
  
}

.ford-flex {
  display: flex;
  
}

/* ===================
     FordButton
==================== */
.ford-button-wrapper {
  background: var(--gray5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  width: 20%;
}
.ford-button-group {
  margin: 2vw 0;
}
.ford-button {
  background: var(--gray2);
  border: thin solid var(--grayDark);
  border-radius: 1vw;
  color: var(--grayDark);
  cursor: pointer;
  font-size: 3vw;
  margin: 0.5vw 0;
  padding: 0.5vw 0;
  width: 80%;
}
.ford-button-active {
  background: var(--yellow);
  border: thin solid var(--grayDark);
  border-radius: 1vw;
  color: var(--grayDark);
  cursor: pointer;
  font-size: 3vw;
  margin: 0.5vw 0;
  padding: 0.5vw 0;
  width: 80%;
}

/* ===================
     FordCharts
==================== */
.ford-charts-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: auto;
  width: 80vw;
}

/* ===================
   FordSalesTotal 
==================== */
.ford-sales-wrapper {
  background: var(--grayLight);
  border: thin solid var(--grayDark);
  margin: 2vw 0;
  padding: 1vw 0;
  width: 90%;
}
.ford-sales-total {
  font-size: 5vw;
  text-align: center;
}

/* ===================
      FordGagues 
==================== */
.ford-gague-wrapper {
  width: 100%;
}
.ford-3circles-wrapper {
  display: flex;
  flex-direction: column;
}
.ford-circles-icon-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.ford-circle-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.ford-circle-p {
  color: #333;
  font-size: 4vw;
}
.ford-circle-bar-wrapper {
  align-items: center;
  display: flex;
  width: 100%;
}

.ford-truck-icon {
  background-image: url('/icons/truck.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.ford-suv-icon {
  background-image: url('/icons/suv.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.ford-car-icon {
  background-image: url('/icons/car.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* ===================
      FordBar 
==================== */
.svg-ford-bar {
  
}
.svg-ford-bar-yaxis text {
  color: white;
  font-size: 1.6vw;
}
.ford-bar-rect {
  stroke: #333;
  stroke-width: 1;
}

.svg-ford-bar-yaxis line {
  stroke: #333;
  stroke-width: 2;
}
.ford-bar-text {
  fill: #fff;
  font-size: 2rem;
}

/* ===================
      FordLine 
==================== */
.ford-line-wrapper {
  align-items: center;
  background: var(--grayLight);
  border: thin solid var(--grayDark);
  display: flex;
  flex-direction: column;
  margin: 3vw 0;
  width: 90%
}
.ford-line-button-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2vw;
}
.ford-line-button {
  background: var(--gray2);
  border: thin solid var(--grayDark);
  border-radius: 1vw;
  color: var(--grayDark);
  cursor: pointer;
  font-size: 2vw;
  padding: 0.5vw;
}

.ford-line-button-active {
  background: var(--yellow);
  border: thin solid var(--grayDark);
  border-radius: 1vw;
  color: var(--grayDark);
  cursor: pointer;
  font-size: 2vw;
  padding: 0.5vw;
}
.svg-ford-axis text {
  fill: var(--grayDark);
  font-size: 2vw;
}
.svg-ford-axis path {
  stroke: var(--grayDark);
  stroke-width: 0.06vw;
}
.svg-ford-axis-side text {
  fill: var(--grayDark);
  font-size: 1.5vw;
}
.svg-ford-axis-side path {
  stroke: var(--grayDark);
  stroke-width: 0.06vw;
}
.svg-text-percent {
  fill: var(--grayDark);
  font-size: 4vw;
}