
.axis-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}


.axis-example {
  background: rgb(41, 52, 63);
  margin: 1rem 0;
  padding-bottom: 1rem;
  width: 95%;
}
.axis-example h3 {
  color: rgb(197, 255, 110);
  font-size: 4vw;
  padding: 1rem 0;
  text-align: center;
}
.svg-axis {
  background: lightslategray;
  display: block;
  margin: auto;
}

.svg-axis g path {
  stroke: orange;
}