.example-banner {
  background: rgb(248, 212, 10);
  color: rgb(76, 142, 196);
  font-family: 'Montserrat', sans-serif;
  font-size: 4vw;
  font-weight: 100;
  margin: 2vw auto;
  padding: .5vw 0;
  text-align: center;
  text-shadow: .2vw .2vw .2vw rgb(48, 47, 47);
  width: 80%;
}