
.home-wrapper {
  background: transparent;
  /* background: var(--gray6); */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 70vw;
}

.home-svg {
  position: absolute;
}

.home-curve {
  fill: none;
  stroke: var(--gray5);
  stroke-width: 0.4vw;
}
.home-curve1 {
  fill: none;
  stroke: var(--gray3);
  stroke-width: 0.5vw;
}

.home-box-dynamic {
  align-items: center;
  background: var(--gray6);
  border: thick solid var(--blue);
  display: flex;
  grid-column: 3 / span 6;
  grid-row: 2 / span 2;
  justify-content: center;
  z-index: 5;
}
.home-text-dynamic {
  color: var(--orange);
  font-size: 8vw;
  font-weight: 600;
  height: 10vw;
}

.home-box-static {
  align-items: center;
  background: var(--blue);
  display: flex;
  grid-column: 3 / span 6;
  grid-row: 4 / span 2;
  justify-content: center;
  z-index: 5;
}
.home-text-static {
  color: var(--offBlack);
  font-size: 8vw;
  font-weight: 600;
}