
.barCharts-wrapper {
  height: 100%;
  width: 100%;
}

/* =================
Frequency of Letters
================= */
.frequency-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 100%;
}
.freq-summary {
  background: #999;
  color: #333;
  font-size: 2.5vw;
  margin: 2rem auto;
  padding: 1rem;
  width: 80%;
}
.freq-tooltip {	
  background: black;	
  border: 0px;		
  border-radius: 8px;	
  color: white;
  font-size: 3vw;				
  opacity: 0;		
  padding: 0.5rem 1rem;	
  pointer-events: none;	
  position: absolute;			
  text-align: center;	
  transition: opacity 1000ms ease-in-out;	
}
.freq-svg {
  background: gray;
}
.freq-chart {
  fill: #999;
}
.freq-bar {
  fill: rgb(23, 79, 126);
}
.freq-bar:hover {
  fill: rgb(168, 73, 18);
}

.freq-axis text {
  fill: #202020;
  font-size: 1.5vw;
}

.freq-axis path,
.freq-axis line {
  stroke: #202020;
  stroke-width: 3;
}


/* =================
  States Population
================= */
.states-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.states-svg {
  background: gray;
}
.states-chart {
  fill: #999;
}
.states-bar {
  fill: rgb(23, 79, 126);
}
.states-bar:hover {
  fill: rgb(168, 73, 18);
}

.states-axis text {
  fill: #202020;
  font-size: 1.5vw;
}

.states-axis path,
.states-axis line {
  stroke: #202020;
  stroke-width: 3;
}