
.navbar-wrapper {
  align-items: center;
  background: #333;
  display: flex;
  height: 12vw;
  justify-content: space-between;
  width: 100vw;
}

.nav-title-grid {
  background: #333;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin: auto 0 auto 2vw;
}
.nav-bar-1 {
  background: #d0d0d0;
  /* background: rgba(255, 255, 0, 0.8); */
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.nav-bar-2 {
  background: #b8b8b8;
  /* background: rgba(0, 255, 255, 0.8); */
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.nav-bar-3 {
  background: #a0a0a0;
  /* background: rgba(0, 255, 0, 0.8); */
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}
.nav-bar-4 {
  background: gray;
  /* background: rgba(255, 0, 255, 0.8); */
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}
.nav-bar-5 {
  background: #686868;
  /* background: rgba(255, 0, 0, 0.8); */
  grid-column: 5 / span 1;
  grid-row: 1 / span 1;
}
.nav-bar-6 {
  background: #484848;
  /* background: rgba(0, 0, 255, 0.8); */
  grid-column: 6 / span 1;
  grid-row: 1 / span 1;
}

.nav-title-wrapper {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  grid-column: 1 / span 6;
  grid-row: 1 / span 1;
  line-height: .9;
  margin: auto;
  padding: 0 1.5vw;
  text-align: center;
}
.nav-title-react {
  color: #61DAFB;
  text-shadow: 2px 2px 8px black;
}
.nav-title-d3 {
  color: #F37553;
  text-shadow: 2px 2px 8px black;
}

.nav-link-group {
  align-items: baseline;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.nav-link, a{
  border-bottom: 1px solid transparent;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vw;
  text-decoration: none;
}
.nav-link-active {
  border-bottom: 1px solid gold;
  color: gold;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vw;
  text-decoration: none;
}
.nav-examples-link:hover {
  border-bottom: 1px solid gold;
  color: gold;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vw;
  text-decoration: none;
}
.nav-modules-link:hover {
  border-bottom: 1px solid gold;
  color: gold;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vw;
  text-decoration: none;
}
.nav-resources-link:hover {
  border-bottom: 1px solid gold;
  color: gold;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vw;
  text-decoration: none;
}