

.digital-clock-wrapper {
  align-items: center;
  background: rgb(20, 18, 18);
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.digit-grid {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 2fr 4fr 2fr 4fr 2fr;
  grid-gap: .3em;
  height: 95%;
  width: 90%;
}

.digit-flex {
  align-items: center;
  background: rgb(20, 18, 18);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
  width: 80%;
}

.digital-clock-elem {
  background: rgb(20, 18, 18);
  
} 
.digital-clock-elem-active {
  background: yellowgreen;
}