
.examples-wrapper {
  background: var(--gray6);
  display: flex;
  flex-wrap: wrap;
  min-height: 85vh;
  padding-top: 2vw;
  justify-content: space-evenly;
}

.example-wrapper {
  background: var(--gray4);
  border: thin solid var(--grayDark);
  border-radius: .5vw;
  height: 22vw;
  margin: 1vw 0;
  text-align: center;
  width: 22vw;
}
.example-wrapper:hover {
  background: var(--grayDark);
  border: thin solid teal;
  box-shadow: 0px 0px 3vw .1vw gold;
}

.example-text {
  color: var(--grayDark);
  display: block;
  font-size: 3vw;
  padding-top: .2vw;
}
.example-wrapper:hover .example-text {
  color: teal;
}

.example-svg-component-stroke {
  stroke: var(--grayDark);
}
.example-wrapper:hover .example-svg-component-stroke {
  stroke: teal;
}

.example-svg-component-fill {
  fill: var(--grayDark);
}
.example-wrapper:hover .example-svg-component-fill {
  fill: teal;
}
