
/* =================
     Resources
================== */


/* General */
.resources-wrapper {
  min-height: 90vh;
  padding-bottom: 5vw;
}

.resources-title-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 2vw auto;
  width: 70vw;
}
.resources-title {
  color: #333;
  font-size: 10vw;
  text-shadow: 0 0 0.5vw rgb(255, 244, 221);
}
.resources-title-lg {
  color: #333;
  font-size: 8vw;
  text-shadow: 0 0 0.5vw rgb(255, 244, 221);
}

/* Resources.js */
/* Summary */
.resources-summary-wrapper {
  background: cornsilk;
  border-radius: 0.5vw;
  margin: 0 auto 2vw;
  padding: 1vw;
  width: 80vw;
}
.resources-summary {
  color: #333;
  font-size: 2vw;
  margin: .5vw auto;
}
/* Categories */
.resources-categories-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 90%;
}
.resources-anchor {
  color: var(--gray1);
  text-decoration: none;
}
.resources-category-wrapper {
  border-radius: .5vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  margin: 1vw;
  padding: 1vw 0;
}
.resources-subtitle {
  font-size: 5vw;
  grid-column: 1 / span 6;
  grid-row: 2 / span 2;
  margin: auto;
}
.resources-book-svg {
  grid-column: 1 / span 6;
  grid-row: 1 / span 6;
}
/* End Resources.js */



/* Resources/subCategory */
.resources-content-wrapper {
  background: #d0d0d0;
  border-radius: 0.5vw;
  margin: 0 auto 2vw;
  padding: 1vw;
  width: 90vw;
}
.resources-content-summary {
  color: #333;
  font-size: 2vw;
  margin: 2vw auto;
  width: 90%;
}
.resource-item-wrapper {
  border-left: 2px solid cadetblue;
  border-top: 2px solid cadetblue;
  margin: 2vw auto;
  padding: 1vw 0 1vw 3vw;
  width: 95%;
}

.resource-item-wrapper p {
  background-image: linear-gradient(45deg, #FDDB75, transparent);
  margin-left: -2vw;
  padding-left: 2vw;
  width: 60%;
}
.resource-link {
  color: #333;
  cursor: pointer;
  font-size: 3.5vw;
  text-decoration: none;
}
.resource-ul {
  color: #333;
  font-size: 2vw;
  padding-top: 2vw;
}